# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
!terraform/terraform.tfvars.example
terraform/.env
terraform/.env.local

# Next.js
tsconfig.tsbuildinfo
.next/
out/
node_modules/
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
awscliv2.zip
.vercel
function.zip
lambda-function/index.js.bak
lambda-function/function.zip
